<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--TEMPORARY KEYS-->
    <add key="galleryName" value="galerie"/>
    <add key="inputDirectory" value="C:\Users\adam.gudynowski\Desktop\Na kompa domowego"/>
    <add key="outputDirectory" value="C:\Users\adam.gudynowski\Desktop\galerie"/>
    <!--TEMPORARY KEYS-->
    
    <add key="galleryPageTemplate" value="HtmlTemplates/pageTemplate.html"/>
    <add key="galleryItemTemplate" value="HtmlTemplates/imageTemplate.html"/>
    <add key="rootMenuTemplate" value="HtmlTemplates/rootMenuItemTemplate.html"/>
    <add key="siblingMenuTemplate" value="HtmlTemplates/siblingMenuItemTemplate.html"/>
    <add key="galleryTemplate" value="HtmlTemplates/galleryTemplate.html"/>
    <add key="filesTableTemplate" value="HtmlTemplates/filesTableTemplate.html"/>
    <add key="filesTableRowTemplate" value="HtmlTemplates/filesTableRowTemplate.html"/>
    
    <add key="copyrightYear" value="2015"/>
    <add key="cssDir" value="css"/>
    <add key="jsDir" value="js"/>
    <add key="icoDir" value="ico"/>
    <add key="mediumDir" value="medium"/>
    <add key="thumbDir" value="thumb"/>
    <add key="imageExtensions" value=".jpg|.bmp|.png|.tiff|.tif|.gif"/>
    <add key="fileExtensions" value=".pdf|.html|.htm|.txt|.rtf|.odt|.ods|.doc|.docx|.xls|.xlsx|.avi|.dwg|.mov|.mp3|.mp4|.mpeg|.rar|.rtf|.ttf|.txt|.wav|.wmv|.zip"/>

    <add key="ico-default" value="default.png"/>
    <add key="ico-avi" value="avi.png"/>
    <add key="ico-doc" value="doc.png"/>
    <add key="ico-docx" value="docx.png"/>
    <add key="ico-odt" value="doc.png"/>
    <add key="ico-dwg" value="dwg.png"/>
    <add key="ico-html" value="html.png"/>
    <add key="ico-htm" value="html.png"/>
    <add key="ico-mov" value="mov.png"/>
    <add key="ico-mp3" value="mp3.png"/>
    <add key="ico-mp4" value="mp4.png"/>
    <add key="ico-mpeg" value="mpeg.png"/>
    <add key="ico-pdf" value="pdf.png"/>
    <add key="ico-rar" value="rar.png"/>
    <add key="ico-rtf" value="rtf.png"/>
    <add key="ico-ttf" value="ttf.png"/>
    <add key="ico-txt" value="txt.png"/>
    <add key="ico-wav" value="wav.png"/>
    <add key="ico-wmv" value="wmv.png"/>
    <add key="ico-xls" value="xls.png"/>
    <add key="ico-xlsx" value="xlsx.png"/>
    <add key="ico-ods" value="xls.png"/>
    <add key="ico-zip" value="zip.png"/>

    <add key="defaultPreserveMediumAspectRatio" value="true"/>
    <add key="defaultMediumWidth" value="540"/>
    <add key="defaultMediumHeight" value="763"/>
    <add key="defaultThumbWidth" value="75"/>
    <add key="defaultThumbHeight" value="75"/>
    <add key="defaultCopyOriginalFiles" value="false"/>
    
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
