<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GalleryGenerator.Properties.WindowsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="GalleryGenerator.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="GalleryGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <log4net configSource="log4net.config"/>
  
  <appSettings>
    <add key="appVersion" value="2.0"/>
    <add key="copyrightYear" value="2025"/>
    
    <add key="galleryPageTemplate" value="HtmlTemplates/lightGallery/pageTemplate.html"/>
    <add key="galleryItemTemplate" value="HtmlTemplates/lightGallery/imageTemplate.html"/>
    <add key="rootMenuTemplate" value="HtmlTemplates/lightGallery/rootMenuItemTemplate.html"/>
    <add key="siblingMenuTemplate" value="HtmlTemplates/lightGallery/siblingMenuItemTemplate.html"/>
    <add key="galleryTemplate" value="HtmlTemplates/lightGallery/galleryTemplate.html"/>
    <add key="filesTableTemplate" value="HtmlTemplates/lightGallery/filesTableTemplate.html"/>
    <add key="filesTableRowTemplate" value="HtmlTemplates/lightGallery/filesTableRowTemplate.html"/>
    
    <add key="galleryLibraryDir" value="galleryResources/lightGallery"/>
    <add key="icoDir" value="GalleryResources/ico"/>
      
    <add key="originalDir" value="original"/>
    <add key="mediumDir" value="medium"/>
    <add key="thumbDir" value="thumb"/>
    
      <add key="ico-default" value="default.png"/>
    <add key="ico-avi" value="avi.png"/>
    <add key="ico-doc" value="doc.png"/>
    <add key="ico-docx" value="docx.png"/>
    <add key="ico-odt" value="doc.png"/>
    <add key="ico-dwg" value="dwg.png"/>
    <add key="ico-html" value="html.png"/>
    <add key="ico-htm" value="html.png"/>
    <add key="ico-mov" value="mov.png"/>
    <add key="ico-mp3" value="mp3.png"/>
    <add key="ico-mp4" value="mp4.png"/>
    <add key="ico-mpeg" value="mpeg.png"/>
    <add key="ico-pdf" value="pdf.png"/>
    <add key="ico-rar" value="rar.png"/>
    <add key="ico-rtf" value="rtf.png"/>
    <add key="ico-ttf" value="ttf.png"/>
    <add key="ico-txt" value="txt.png"/>
    <add key="ico-wav" value="wav.png"/>
    <add key="ico-wmv" value="wmv.png"/>
    <add key="ico-xls" value="xls.png"/>
    <add key="ico-xlsx" value="xlsx.png"/>
    <add key="ico-ods" value="xls.png"/>
    <add key="ico-zip" value="zip.png"/>
    <add key="ico-7z" value="zip.png"/>
    <add key="ico-jpg" value="jpg.png"/>
    <add key="ico-bmp" value="bmp.png"/>
    <add key="ico-png" value="png.png"/>
    <add key="ico-psd" value="psd.png"/>
    <add key="ico-jpeg" value="jpg.png"/>
    <add key="ico-tiff" value="tiff.png"/>
    <add key="ico-tif" value="tiff.png"/>
    <add key="ico-gif" value="img.png"/>
  </appSettings>
  
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <userSettings>
    <GalleryGenerator.Properties.WindowsSettings>
      <setting name="AppPositionLeft" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="AppPositionTop" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="AppWidth" serializeAs="String">
        <value>420</value>
      </setting>
      <setting name="SettingsWindowLeft" serializeAs="String">
        <value>460</value>
      </setting>
      <setting name="SettingsWindowTop" serializeAs="String">
        <value>375</value>
      </setting>
      <setting name="AppLanguage" serializeAs="String">
        <value>en-GB</value>
      </setting>
      <setting name="SummaryWindowLeft" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SummaryWindowTop" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SummaryWindowWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="SummaryWindowHeight" serializeAs="String">
        <value>315</value>
      </setting>
    </GalleryGenerator.Properties.WindowsSettings>
    <GalleryGenerator.Properties.UserSettings>
      <setting name="MediumImgWidth" serializeAs="String">
        <value>540</value>
      </setting>
      <setting name="MediumImgHeight" serializeAs="String">
        <value>763</value>
      </setting>
      <setting name="ThumbImgWidth" serializeAs="String">
        <value>333</value>
      </setting>
      <setting name="ThumbImgHeight" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="CopyOriginalFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreserveMediumAspectRatio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EstimateWorkTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenAfterFinish" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageExtensions" serializeAs="String">
        <value>.jpg|.jpeg|.bmp|.png|.tiff|.tif|.gif</value>
      </setting>
      <setting name="FileExtensions" serializeAs="String">
        <value>.pdf|.html|.htm|.txt|.rtf|.odt|.ods|.doc|.docx|.xls|.xlsx|.avi|.dwg|.mov|.mp3|.mp4|.mpeg|.rar|.rtf|.ttf|.txt|.wav|.wmv|.zip|.7z</value>
      </setting>
      <setting name="ThumbGridSize" serializeAs="String">
        <value>18</value>
      </setting>
    </GalleryGenerator.Properties.UserSettings>
    <GalleryGenerator.Properties.Settings>
      <setting name="AppPositionLeft" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="AppPositionTop" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="AppWidth" serializeAs="String">
        <value>420</value>
      </setting>
      <setting name="SettingsWindowLeft" serializeAs="String">
        <value>460</value>
      </setting>
      <setting name="SettingsWindowTop" serializeAs="String">
        <value>375</value>
      </setting>
    </GalleryGenerator.Properties.Settings>
  </userSettings>
</configuration>
